* {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}

form {
    label {
        line-height: 2rem;
    }
}

.path-link {
    text-decoration: none;

    &:not(:last-of-type)::after {
        content: ' → ';
        color: black;
    }
}