$background: #1a1c1f;
$neon-blue: #00d0ff;
$neon-pink: #ff00bf;
* {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    color: white;
    background-color: $background;

}

.panel:not(:empty) {
    border-radius: 5px;
    background: #222429;
    padding: 3rem;
}

form {
    text-align: right;
    width: fit-content;

    label {
        line-height: 3rem;
    }
}

a {
    text-decoration: none;
    color: cyan;
}
.path-link {
    &:not(:last-of-type)::after {
        content: ' → ';
        color: white;
    }
}

button {
    background-color: lighten($background, 5%);
    color: $neon-blue;
    font-size: 1.1rem;
    padding: 0.5rem;
    font-weight: bold;
    border: none;
    transition: color 0.1s, background-color 0.1s;

    &:disabled {
        color: darken($background, 5%);
    }

    &:not(:disabled):hover {
        cursor: pointer;
        background-color: lighten($background, 7%);
        color: $neon-pink;
    }
}

input {
    background-color: darken($background, 5%);
    color: white;
    padding: 0.5rem;
    border: none;
    border-radius: 3px;
}

h1 {
    text-shadow: $neon-pink 1px 2px, $neon-blue -2px -1px;
    font-family: "Audiowide", sans-serif;
    text-align: center;
}
.center {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

#explanation {
    text-align: center;
}